snippet con "console.log()" b
console.log( $0 );
endsnippet

snippet switch "switch" b
switch( $1 ){
	case "$2":
		break;
	default:
		break;
}
endsnippet

snippet fn "function" b
function $1($2){
	$3
}
endsnippet
# vim:ft=snippets:
